.header-container {
    background-color: var(--secondary-color);
    z-index: 99;
    width: 100%;
    position: fixed;
    
    transition: transform 3s ease;

    &.header-open {
        position: static;
    }

    &.header-closed {
        position: fixed;
        transform: translateY(-15rem);
    }

    .header-wrapper {
        width: inherit;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .header-nav-wrapper {
            display: inline-flex;

            .header-nav-item {
                width: 11rem;
                max-height: 5rem;
                padding: 1rem;
                text-align: center;
                overflow-y: hidden;

                border: 5px solid var(--contrast-color);

                .header-nav-icon {
                    width: 2.5rem;
                    height: 2.5rem;

                    transition: transform 0.5s ease;
                }

                .header-nav-text {
                    text-align: right;
                    padding-right: 1rem;

                    transition: transform 0.5s ease;
                }

                &:hover {
                    .header-nav-icon {
                        transform: translateX(-2.5rem);
                    }

                    .header-nav-text {
                        transform: translateY(-3.28rem);
                    }
                }
            }
        }

        .header-toggle {
            position: absolute;
            bottom: 0;
        }
    }
}