.header-container {
    background-color: var(--secondary-color);
    z-index: 99;

    .header-wrapper {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .header-nav-wrapper {
            display: inline-flex;

            .header-nav-item {
                width: 10rem;
                max-height: 5rem;
                padding: 1rem;
                text-align: center;
                overflow-y: hidden;

                border: 5px solid var(--contrast-color);

                .header-nav-icon {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }
    }
}