.grid-links-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1rem;
    padding: 2rem;

    .grid-link {
        min-width: 17rem;
    }

    @media (max-width: $breakpoint--medium) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}