.icons-buttons-container {
    display: flex;
    justify-content: flex-end;

    .icons-buttons-wrapper {
        margin-right: 3rem;
        margin-bottom: 2rem;

        .icons-buttons-item-wrapper {
            display: inline-flex;

            border: 1px solid black;
            border-radius: 3px;

            .icons-buttons-item {
                transition: transform 0.1s ease;

                &.icon-button-active {
                    background-color: var(--contrast-color);
                }

                &:hover {
                    background-color: var(--contrast-color);
                    
                    transform: scale(1.08);
                }

                .icons-buttons-icon {
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
    }
}