.note-input-container {
    padding: 1rem 10rem;
    border: 5px solid var(--contrast-color);

    .note-toggle {
        position: absolute;
        right: 5%;
    }

    .note-text-area-wrapper {
        padding-top: 2rem;

        .note-text-area {
            width: 100%;
            height: 50vh;
            padding: 0.5rem;
            
            border: 5px solid var(--secondary-color);
            border-radius: 10px;

            &:focus {
                border: none;
            }
        }
    }
}