.tasks-list-container {
    border: 1px solid black;

    .tasks-list-wrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem 5rem;

        .task-item-wrapper {
            border-bottom: 2px solid black;
        }
    }
}