.light-scale-in-animate {
    @keyframes light-scale-in {
        from {
            transform: scale(0.5);
        }
    }

    animation: light-scale-in 0.4s;
    animation-iteration-count: 1; // idk if I need this
}