/*--------------------------------------------------------------
# Section Spacing
--------------------------------------------------------------*/
main.site-content {
  max-height: 100vh;
}

.center {
  text-align: center;
  align-items: center;
}

.screen-container {
  height: 100vh;
  padding: 4rem 0;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%; 
  border: none;
}

button {
  display: inline-flex;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
.hide {
  display: none !important;
}