/*--------------------------------------------------------------
# Section Spacing
--------------------------------------------------------------*/
main.site-content {
}

.screen-container {
  padding: 1rem 0;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html,
body {
  margin: 0 auto;
  font-family: Quicksand, Verdana;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea,
fieldset {
  font-family: inherit;
  font-size: 100%; 
  border: none;
  background: none;
}

button {
  cursor: pointer;
  padding: 0.5rem;
}

select {
  cursor: pointer;
}

object {
  pointer-events: none;
}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
.hide {
  display: none !important;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}