/*--------------------------------------------------------------
# Section Spacing
--------------------------------------------------------------*/
main.site-content {
  max-height: 100vh;
}

.center {
  text-align: center;
  align-items: center;
}

.screen-container {
  padding: 1rem 0;
}

.wrap-break {
  display: inline-flex;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
button,
input,
optgroup,
select,
textarea,
fieldset {
  font-family: inherit;
  font-size: 100%; 
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

object {
  pointer-events: none;
}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
.hide {
  display: none !important;
}