/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$diamond--thickness:            0.25em;                 // thickness of diamond
$diamond--size:                 0.6em;                 	// height of diamond

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
.diamond{
	&::before {
		position: relative;
		border-style: solid;
		content: '';
		display: inline-block;
		transform: rotate(-45deg);
		border-width: $diamond--thickness $diamond--thickness 0 0;
		height: $diamond--size;
		width: $diamond--size;

		border: 1px solid gray;
		transition: background 0.25s ease; // not efficient but i think its fine
	}

	&:hover, &:focus {
		&::before {
			background: gray;
		}
	}
}